$app-font-family: 'Droid Sans Mono',sans-serif;
$app-font-size: 11pt;
$app-text-selection-color: whitesmoke;
$app-text-selection-background-color: #B964C7;
$app-text-error-color: tomato;
$app-external-icon-color: #EC348F;
$app-external-link-color: #97AD5A;

$app-green-execution-color: #25A725;
$app-red-execution-color: red;
$app-orange-execution-color: orange;

$dark-theme: 'dark-theme';
$light-theme: 'light-theme';
