$app-font-family: 'Droid Sans Mono',sans-serif;
$app-font-size: 11pt;
$app-text-selection-color: whitesmoke;
$app-text-selection-background-color: #B964C7;
$app-text-error-color: tomato;
$app-external-icon-color: #EC348F;
$app-external-link-color: cadetblue;

$dark-theme: 'dark-theme';
$light-theme: 'light-theme';
