// app constants
$app-background-color: #1D1C1C;
$app-color: white;
$app-font-family: sans-serif;
$app-font-size: 11pt;
$app-text-selection-color: #F2058C;

$app-suggestion-background-color: $app-background-color;
$app-suggestion-border-color: silver;
$app-suggestion-entry-border-color: #C2BFBF;
$app-suggestion-type-background-color: transparent;
$app-suggestion-type-color: #FF0044;
$app-suggestion-type-font-family: monospace;
$app-suggestion-type-expect-color: $app-color;
$app-suggestion-type-hightlight-color: #7DC5EA;

$app-prompt-active-icon-color: silver;


$app-entry-icon-color: rgb(255, 0, 87);
$app-entry-icon-copy-color: powderblue;
$app-entry-status-redo-color: silver;
$app-entry-status-plus-color: rgb(78, 184, 78);
$app-entry-status-remove-color: tomato;
$app-entry-status-error-color: rgb(240, 92, 92);
$app-entry-status-minus-color: rgb(252, 181, 50);

$app-status-bar-background-color: black;
$app-status-bar-command-color: rgb(73, 197, 73);
$app-status-bar-error-color: rgb(208, 95, 75);
$app-status-bar-message-color: lightgrey;
$app-status-bar-mode-color: #CCCC4C;

$app-water-mark-color: rgba(192, 192, 192, 0.14);
$app-entry-ellipsis-color: rgb(58, 176, 162);
