// app constants
$app-background-color: #282828;
$app-color: white;
$app-font-family: sans-serif;
$app-font-size: 11pt;
$app-text-selection-color: #FF0044;

$app-suggestion-background-color: $app-background-color;
$app-suggestion-border-color: silver;
$app-suggestion-entry-border-color: #C2BFBF;
$app-suggestion-type-background-color: transparent;
$app-suggestion-type-color: #FF0044;
$app-suggestion-type-font-family: monospace;
