@mixin stackTraceHighlight() {
  .stack-error-at {
    color: yellowgreen;
  }
  .stack-error-function {
    color: darkseagreen;
  }

  .stack-error-file {
    color: chocolate;
  }

  .stack-error-row {
    color: deepskyblue;
  }
  .stack-error-column {
    color: deepskyblue;
  }

  .error-name {
    color: #F75D5D;
  }

  .error-description {
    color: tan;
  }
}
