@import 'default-theme';
@import 'highlight';

// google font
@font-face {
  font-family: 'Fenix';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Fenix-Regular.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


@mixin notSelectable() {
  -webkit-user-select: none;
  user-select: none;
}

@mixin selectable() {
  -webkit-user-select: initial;
  user-select: initial;
}

@mixin entryLayout() {
  flex: 1;
  min-height: $app-font-size;
  padding-left: 10px;
  margin: 0px;
}

@mixin arrowIcon() {
  width: 10px;
  text-align: center;
}

html{
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: $app-background-color;
  color: $app-color;
  font-size: $app-font-size;
  font-family: $app-font-family;
  @include notSelectable();

  &:before {
    content: "JS>";
    position: fixed;
    top: 30vh;
    left: 40vw;
    font-size: 20vh;
    color: $app-water-mark-color;
    font-family: 'Fenix', sans-serif;
  }
  &:after {
    content: "REPL for fun 🙈";
    position: fixed;
    top: 50vh;
    left: 43vw;
    font-size: 2vh;
    color: rgba(192, 192, 192, 0.14);
    font-family: 'Fenix', sans-serif;
  }
}


pre {
  margin: 0;
  word-wrap: break-word;
  white-space: pre-wrap;
}
::selection {
  background-color: $app-text-selection-color;
}

.hide {
  display: none !important;
}


#node-repl-plus {
  margin: 5px 2px;
  @include selectable();

  .repl-container {
    .repl-entries {
      display:flex;
      flex-direction: column;
      flex:1;
      .repl-entry {
        display: flex;
        margin: 0;
        padding: 5px;

        // &:hover {
        //   background-color: lighten($app-background-color, 5%);
        // }

        .repl-entry-icon, .repl-entry-status {
          @include notSelectable();
        }

        .repl-entry-icon {
          color: $app-entry-icon-color;
          @include arrowIcon();
          cursor: pointer;
        }

        .repl-entry-status {
          padding-right: 8px;

          .repeat, .error, .plus, .minus, .remove {
            padding-left: 6px;
            cursor: pointer;
          }
          .repeat {
            color: $app-entry-status-redo-color;
          }
          .error {
            color: $app-entry-status-error-color;
          }
          .minus {
            color: $app-entry-status-minus-color;
          }
          .plus {
            color: $app-entry-status-plus-color;
          }
          .remove {
            color: $app-entry-status-remove-color;
          }
        }

        .repl-entry-message {
          @include entryLayout();
          .repl-entry-message-command {
            @include highlight();
            min-height: $app-font-size;
          }
          .ellipsis {
            &:after {
              content: '\2026';
              color: $app-entry-ellipsis-color;
            }
          }
          .repl-entry-message-output {
            padding: 5px 0px;
            @include highlight();
            position: relative;
            left: -10px;
            .fa-clone {
              @include notSelectable();
              position: absolute;
              color: $app-entry-icon-copy-color;
              font-size: 0.7em;
              padding: 7px 0px;
              position: relative;
              font-weight: 900;
              left: -10px;
              top: 0px;
              cursor: pointer;
              &:active {
                top: 3px;
              }
            }
            .repl-entry-output-error {
              @include stackTraceHighlight();
            }
          }
        }
      }
    }

    .repl-prompt {
      margin: 0px;
      padding: 5px;
      background-color: lighten($app-background-color, 5%);
      display: flex;
      align-items: flex-start;

      .repl-active-icon {
        @include notSelectable();
        color: $app-prompt-active-icon-color;
        @include arrowIcon();
      }

      .repl-active-input {
        @include entryLayout();
        outline: none;
      }
    }

    .repl-status-bar {
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 3px 10px;
      background-color: $app-status-bar-background-color;
      width: 100%;

      .repl-status-bar-commands {
        color: $app-status-bar-command-color;
        padding: 0px 5px;
      }
      .repl-status-bar-errors {
        color: $app-status-bar-error-color;
        padding: 0px 5px;
      }

      .repl-status-bar-count, .repl-status-bar-message {
        color: $app-status-bar-message-color;
        padding: 0px 5px;
      }

      .repl-status-bar-mode {
        color: $app-status-bar-mode-color;
        padding: 0px 5px;
        .fa {
          padding: 0px 3px;
        }
      }

    }

    .repl-status-bar {
      height: calc(#{$app-font-size} + 6px);
    }
    .repl-status-bar-cover {
      height: calc(#{$app-font-size} + 11px);
    }
  }
}

#node-repl-prompt-suggestions {
  .repl-prompt-suggestion-wrapper {
    position: absolute;
    background-color: $app-suggestion-background-color;
    .repl-prompt-suggestion-list {
      [data-selected='true'] {
        background-color: lighten($app-background-color, 10%);
      }
      margin: 0;
      display: flex;
      flex-direction: column;
      // dont change this
      max-height: 200px;
      // dont change this
      max-width: 300px;
      overflow: auto;
      border: 2px solid $app-suggestion-border-color;
      border-radius: 5px;
      padding: 2px 0px;

      .repl-prompt-suggestion {
        display:flex;
        flex:1;
        min-height: calc(#{$app-font-size} + 8px);
        padding: 4px 2px;
        border-bottom: 1px solid $app-suggestion-entry-border-color;
        cursor: pointer;
        .repl-prompt-suggestion-type {
          padding: 2px;
          font-weight: 900;
          border-radius: 100%;
          width: $app-font-size;
          height: $app-font-size;
          text-align: center;
          color: $app-suggestion-type-color;
          font-family: $app-suggestion-type-font-family;
          background-color: $app-suggestion-type-background-color;
        }
        .repl-prompt-suggestion-text {
          padding: 2px 8px;
          flex: 1;
          .repl-prompt-suggestion-highlight {
            color: $app-suggestion-type-hightlight-color;
          }
          .repl-prompt-suggestion-expect {
            color: $app-suggestion-type-expect-color;
          }
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
