@import 'themes';
@import 'repl-common';

@mixin replOutputArrayFold($theme) {
  .repl-entry-message-output-array-folds {
    .repl-entry-message-output-array {
      .fa-play {
        font-size: 0.8em;
        color: if($theme == $dark-theme, $dark-app-entry-message-output-arr-fold-color, $lt-app-entry-message-output-arr-fold-color);
      }
      .fa-hashtag {
        padding-left: 5px;
        font-size: 70%;
        cursor: pointer;
        color: if($theme == $dark-theme, $dark-app-entry-message-output-bind-color, $lt-app-entry-message-output-bind-color);
      }

      .cljs-tag {
        background-color: if($theme == $dark-theme, $dark-app-tag-bg-color, $lt-app-tag-bg-color);
        color: if($theme == $dark-theme, $dark-app-tag-color, $lt-app-tag-color);
        border-radius: 4px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 0.8em;
        height: 80%;
        font-weight: 900;
        margin-left: 6px;
        cursor: default;
      }

      .array-desc {
        padding-left: 5px;
        .ellipsis {
          padding-left: 5px;
        }
      }

      .array-rec {
        display: flex;
        flex-direction: column;
        &.inline {
          display: inline-flex;
          flex-direction: row;
          .array-entry {
            padding-left: 5px;
            padding-right: 5px;
          }
        }
        .array-entry {
          display: flex;
          padding-left: 10px;
          .map-key {
            padding-right: 12px;
          }
          .array-idx {
            color: if($theme == $dark-theme, $dark-app-entry-message-output-arr-idx-color, $lt-app-entry-message-output-arr-idx-color);
          }
        }
      }
    }
  }
}
