@import 'themes';
@import 'repl-common';

@mixin replOutputColor($theme) {

  .repl-color {
    .repl-color-box {
      width: 1em;
      height: 1em;
      border-radius: 3px;
      display: inline-flex;
      align-self: center;
      position: relative;
      top: 2px;
      margin-left: 5px;
    }
  }
}
