@import 'themes';
@import 'repl-common';

@mixin replOutputObjectFold($theme) {
  .repl-entry-message-output-object-folds {
    flex: 1;
    .repl-entry-message-output-object {
      .fa-play {
        font-size: 0.8em;
        color: if($theme == $dark-theme, $dark-app-entry-message-output-arr-fold-color, $lt-app-entry-message-output-arr-fold-color);
      }
      .fa-hashtag {
        padding-left: 5px;
        font-size: 70%;
        cursor: pointer;
        color: if($theme == $dark-theme, $dark-app-entry-message-output-bind-color, $lt-app-entry-message-output-bind-color);
      }

      .fa-calendar {
        padding: 0px 5px;
        color: if($theme == $dark-theme, $dark-app-date-icon-color, $lt-app-date-icon-color);
      }

      .fa-download {
        padding: 0px 5px;
        position: relative;
        top: 1px;
        font-size: 0.8em;
        cursor: pointer;
        color: if($theme == $dark-theme, $dark-app-download-color, $lt-app-download-color);
      }

      .object-desc {
        padding-left: 0px;
      }

      .object-rec {
        display: flex;
        flex-direction: column;

        .object-entry {
          display: flex;
          padding-left: 10px;

          .object-key {
            color: if($theme == $dark-theme, $dark-app-entry-message-output-arr-idx-color, $lt-app-entry-message-output-arr-idx-color);
          }
        }
      }
    }
  }
}
