@import 'themes';
@import 'repl-common';

@mixin replOutputString($theme) {

  .repl-string-fold {
    flex: 1;
    .repl-string {
      word-break: break-all;
      .fa-play {
        font-size: 0.8em;
        padding-right: 6px;
        color: if($theme == $dark-theme, $dark-app-entry-message-output-arr-fold-color, $lt-app-entry-message-output-arr-fold-color);
      }
      .fa-play.fa-rotate-90 {
        position: relative;
        top: 2px;
        padding-top: 5px;
        padding-right: 6px;
      }
    }
  }
}
