@import 'themes';
@import 'repl-common';
@import 'repl-entry-status';
@import 'repl-entry-message';

@mixin replEntries($theme) {
  .repl-entries {
    .repl-entry {
      display: flex;
      margin: 0;
      padding: 5px;

      .repl-entry-icon,
      .repl-entry-status {
        @include notSelectable();
      }

      .repl-entry-icon {
        color: if($theme == $dark-theme, $dark-app-entry-icon-color, $lt-app-entry-icon-color);
        @include arrowIcon();
        .fa {
          cursor: pointer;          
        }
      }

      @include replEntryStatus($theme);
      @include replEntryMessage($theme);
    }
  }
}
