@import 'default-theme';
@import 'repl-common';
@import 'highlight';

@mixin replConsoleMessage() {
  .repl-console-message {
    flex: 1;
    word-wrap: break-word;
    white-space: pre-wrap;
    @include fullHeight();
    overflow: auto;

    .repl-status-bar-cover, .repl-console-message-filters {
      @include notSelectable();
    }

    .repl-console-message-filters {
      font-family: monospace;
      display: flex;
      padding: 5px 2px;
      border-bottom: 1px solid $app-console-message-filter-border-color;
      .label {
      }
      .message-filter.clear {
        display: flex;
        align-self: center;
        cursor: pointer;
      }
    }

    .repl-console-message-entry {
      padding: 5px;
      border-bottom: 1px solid $app-console-message-entry-border-color;

      .fa {
        padding: 0px 4px 0px 2px;
      }

      .repl-console-message-info {
        color: $app-console-message-entry-info-color;
      }

      .repl-console-message-warning {
        color: $app-console-message-entry-warn-color;
      }

      .repl-console-message-error {
        color: $app-console-message-entry-error-color;
      }

      .repl-console-message-entry-content.log > * {
        padding: 0px 2px;
      }

      .repl-console-message-entry-content {
        @include highlight();
        @include stackTraceHighlight();  
      }
    }

    .repl-console-message-entry.error {

    }

    .repl-console-message-entry.warn {
      background-color: lighten($app-console-message-entry-warn-color, 30%);
    }

    .repl-console-message-entry.info {

    }
  }
}
