@import 'themes';
@import 'repl-common';
@import 'highlight';
@import 'repl-output';

@mixin replConsoleMessage($theme) {
  .repl-console-message {
    flex: 1;
    word-wrap: break-word;
    white-space: pre-wrap;
    @include fullHeight();
    overflow: auto;

    .repl-status-bar-cover, .repl-console-message-filters {
      @include notSelectable();
    }

    .repl-console-message-filters {
      font-family: monospace;
      display: flex;
      padding: 5px 2px;
      border-bottom: 1px solid if($theme == $dark-theme, $dark-app-console-message-filter-border-color, $lt-app-console-message-filter-border-color);
      .label {
      }
      .message-filter.clear {
        display: flex;
        align-self: center;
        cursor: pointer;
      }
    }

    .repl-console-message-entry {
      padding: 5px;
      border-bottom: 1px solid if($theme == $dark-theme, $dark-app-console-message-entry-border-color, $lt-app-console-message-entry-border-color);

      .fa {
        padding: 0px 4px 0px 2px;
      }

      .repl-console-message-info {
        color: if($theme == $dark-theme, $dark-app-console-message-entry-info-color, $lt-app-console-message-entry-info-color);
      }

      .repl-console-message-warning {
        color: if($theme == $dark-theme, $dark-app-console-message-entry-warn-color, $lt-app-console-message-entry-warn-color);
      }

      .repl-console-message-error {
        color: if($theme == $dark-theme, $dark-app-console-message-entry-error-color, $lt-app-console-message-entry-error-color);
      }

      .repl-console-message-entry-content.log > * {
        padding: 0px 2px;
      }

      .repl-console-message-entry-content {
        @include highlight();
        @include replOutput($theme);
        .repl-entry-output-error {
          .repl-entry-output-error-message {
            .fa-play {
              color: if($theme == $dark-theme, $dark-app-entry-message-output-arr-fold-color, $lt-app-entry-message-output-arr-fold-color);
            }
            .repl-entry-output-error-message-heading {
              padding-left: 5px;
            }

            .repl-entry-output-error-stack {
              .repl-entry-output-error-stack-lines {
                padding-left: calc(1em + 5px);
              }
            }
          }

          @include stackTraceHighlight();
        }
      }
    }

    .repl-console-message-entry.error {

    }

    .repl-console-message-entry.warn {
      background-color: lighten(if($theme == $dark-theme, $dark-app-console-message-entry-warn-color, $lt-app-console-message-entry-warn-color), 30%);
    }

    .repl-console-message-entry.info {

    }
  }
}
