@import 'default-theme';
@import 'repl-common';
@import 'repl-console-message';

@mixin containerRight() {
  .repl-container-right {
    display: flex;
    max-width: 40vw;
    flex: 0 0 30vw;
    min-width: 8px;
    @include fullHeight();
    overflow: auto;
    flex-direction: column;

    .repl-header {
      height: 5px;
    }

    .repl-console {
      position: relative;
      top: 0;
      background-color: $app-console-background-color;
      color: $app-console-color;
      overflow: auto;
      flex: 1;
      display: flex;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

      .repl-console-resizeable {
        display: flex;
        width: 8px;
        position: relative;
        @include fullHeight();
        background-color: $app-console-resize-handle-color;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        cursor: ew-resize;
        align-items: center;

        .repl-console-drag-lines {
          @include notSelectable();

          &:before {
            content: 'ǁ';
            text-align: center;
            margin: 1px;
            color: $app-console-drag-lines-color;
          }
        }
      }
      @include replConsoleMessage();
    }
  }
}
