@import 'themes';
@import 'repl-common';

@mixin replOutputCrypto($theme) {
  .repl-output-crypto{
    .repl-crypto-data {
      .fa-lock, .fa-unlock {
        padding-left: 5px;
        cursor: pointer;
      }
      .fa-lock {
        color: if($theme == $dark-theme, $dark-app-crypto-lock-color, $lt-app-crypto-lock-color);
      }
      .fa-unlock {
        color: if($theme == $dark-theme, $dark-app-crypto-unlock-color, $lt-app-crypto-unlock-color);
      }
    }
  }
}
