@import 'themes';
@import 'repl-common';
@import 'highlight';
@import 'repl-output-array';
@import 'repl-output-object';

@mixin replEntryMessage($theme) {
  .repl-entry-message {
    @include entryLayout();

    .repl-entry-message-command {
      @include highlight();
      min-height: $app-font-size;
    }

    .ellipsis {
      &:after {
        content: '\2026';
        color: if($theme == $dark-theme, $dark-app-entry-ellipsis-color, $lt-app-entry-ellipsis-color);
      }
    }

    .repl-entry-message-output {
      padding: 5px 0;
      @include highlight();
      position: relative;
      display: flex;

      .fa-clone {
        @include notSelectable();
        position: absolute;
        color: if($theme == $dark-theme, $dark-app-entry-icon-copy-color, $lt-app-entry-icon-copy-color);
        font-size: 0.7em;
        position: relative;
        font-weight: 900;
        left: -10px;
        padding-top: 4px;
        top: 0;
        cursor: pointer;

        &:active {
          top: 3px;
        }
      }

      .repl-entry-message-output-function {
        .fa {
          padding-right: 10px;
          padding-top: 4px;
          color: if($theme == $dark-theme, $dark-app-entry-message-output-expand-collapse-color, $lt-app-entry-message-output-expand-collapse-color);
        }
      }

      @include replOutputArrayFold($theme);
      @include replOutputObjectFold($theme);
      .repl-entry-output-error {
        @include stackTraceHighlight();
      }
    }
  }
}
