@import 'themes';
@import 'repl-common';

@mixin replOutputArrayFold($theme) {
  .repl-entry-message-output-array-folds {
    .repl-entry-message-output-array {
      .fa-play {
        font-size: 0.8em;
        color: if($theme == $dark-theme, $dark-app-entry-message-output-arr-fold-color, $lt-app-entry-message-output-arr-fold-color);
      }
      .fa-hashtag {
        padding-left: 5px;
        font-size: 70%;
        cursor: pointer;
        color: if($theme == $dark-theme, $dark-app-entry-message-output-bind-color, $lt-app-entry-message-output-bind-color);
      }

      .array-desc {
        padding-left: 5px;
      }

      .array-rec {
        display: flex;
        flex-direction: column;

        .array-entry {
          display: flex;
          padding-left: 10px;

          .array-idx {
            color: if($theme == $dark-theme, $dark-app-entry-message-output-arr-idx-color, $lt-app-entry-message-output-arr-idx-color);
          }
        }
      }
    }
  }
}
