@import 'default-theme';
@import 'repl-common';
@import 'repl-prompt';
@import 'repl-entries';
@import 'highlight';


@mixin containerLeft() {
  .repl-container-left {
    flex: 1;
    display: flex;
    @include fullHeight();
    overflow: auto;
    flex-direction: column;

    .repl-header {
      height: 5px;
    }

    @include replEntries();
    @include replPrompt();
  }
}
