@import 'default-theme';

html{
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: $app-background-color;
  color: $app-color;
  font-size: $app-font-size;
  font-family: $app-font-family;
}

::selection {
  background-color: $app-text-selection-color;
}

@mixin notSelectable() {
  -webkit-user-select: none;
  user-select: none;
}

@mixin entryLayout() {
  flex: 1;
  min-height: $app-font-size;
  padding-left: 10px;
  margin: 0px;
}

.hide {
  display: none !important;
}


#node-repl-plus {
  margin: 5px 2px;

  .repl-container {
    .repl-entries {
      display:flex;
      flex-direction: column;
      flex:1;
      .repl-entry {
        display: flex;
        margin: 0;
        padding: 5px;

        // &:hover {
        //   background-color: lighten($app-background-color, 5%);
        // }

        .repl-entry-icon, .repl-entry-status {
          @include notSelectable();
        }

        .repl-entry-icon {
          color: $app-entry-icon-color;
        }

        .repl-entry-status {
          padding-right: 5px;

          .repeat, .error, .plus, .minus {
            padding-left: 6px;
            cursor: pointer;
          }
          .repeat {
            color: $app-entry-status-redo-color;
          }
          .error {
            color: $app-entry-status-error-color;
          }
          .minus {
            color: $app-entry-status-minus-color;
          }
          .plus {
            color: $app-entry-status-plus-color;
          }
        }

        .repl-entry-message {
          @include entryLayout();
          .repl-entry-message-command {
          }
          .repl-entry-message-entry {
            padding: 5px 0px;
          }
        }
      }
    }

    .repl-prompt {
      margin: 0px;
      padding: 5px;
      background-color: lighten($app-background-color, 5%);
      display: flex;
      align-items: flex-start;

      .repl-active-icon {
        @include notSelectable();
        color: $app-prompt-active-icon-color;
      }

      .repl-active-input {
        @include entryLayout();
        outline: none;
      }
    }

    .repl-status-bar {
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 3px 0px;
      background-color: $app-status-bar-background-color;
      width: 100%;
    }

    .repl-status-bar-cover, .repl-status-bar {
      height: calc(#{$app-font-size} + 6px);
    }
  }
}

#node-repl-prompt-suggestions {
  position: absolute;
  .repl-prompt-suggestion-list {
    margin: 0;
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow: auto;
    border: 2px solid $app-suggestion-border-color;
    border-radius: 5px;
    padding: 2px 0px;

    .repl-prompt-suggestion {
      display:flex;
      flex:1;
      min-height: calc(#{$app-font-size} + 8px);
      padding: 4px 2px;
      border-bottom: 1px solid $app-suggestion-entry-border-color;
      cursor: pointer;
      .repl-prompt-suggestion-type {
        padding: 2px;
        font-weight: 900;
        border-radius: 100%;
        width: $app-font-size;
        height: $app-font-size;
        text-align: center;
        color: $app-suggestion-type-color;
        font-family: $app-suggestion-type-font-family;
        background-color: $app-suggestion-type-background-color;
      }
      .repl-prompt-suggestion-text {
        padding: 2px 8px;
        flex: 1;
        .repl-prompt-suggestion-highlight {
          color: $app-suggestion-type-hightlight-color;
        }
        .repl-prompt-suggestion-expect {
          color: $app-suggestion-type-expect-color;
        }
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}


/*

#node-repl-prompt-suggestions .repl-prompt-suggestion-list:before {
    content: "..";
    height: 20px;
    width: 100%;
    background-color: rgb(132, 168, 168);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -2px;
    left: 0px;
    position: relative;
    text-align: center;
    font-size: 1em;
}

*/
